/* Style for HomePage */
.home-page {
    text-align: center;
    padding: 50px;
  }
  
  .home-page h1 {
    font-size: 3em;
    color: #333;
  }
  
  .home-page p {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
  }
  